<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<div class="grid  justify-center flex">
    <div class="grid-row  content-center  rounded   flex">
        <div class="grid grid-cols-8">
            <div *ngFor="let square of chessBoard " class="w-[90px] h-[90px] flex items-center justify-center "
                [ngClass]="square.color ">
                <p class="text-center w-[90px] h-[90px]"
                    [ngClass]="{'hoverWhite': square.color === 'white','hoverBlack': square.color === 'black'}">
                    {{ square.square }}</p>
            </div>
        </div>
    </div>
</div>