<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<div class="grid justify-center flex flex-col">
    <div class="grid-row content-center rounded flex mr-[90px]">
        <div class="flex flex-col items-center justify-center">
            <div *ngFor="let number of [8, 7, 6, 5, 4, 3, 2, 1]"
                class="w-[90px] h-[90px] flex items-center justify-end ">
                <p class="mr-[25px]">{{ number }}</p>
            </div>
        </div>
        <div class="grid grid-cols-8">
            <div *ngFor="let square of chessBoard" class="w-[90px] h-[90px] flex items-center justify-center" [ngClass]="{
         'hoverWhite': square.color === 'white',
         'hoverBlack': square.color === 'black',
         'white': square.color === 'white',
         'black': square.color === 'black',
         'highlighted': highlightedSquares.includes(square.square)
     }" (click)="showSquareDetails(square)" (dragover)="allowDrop($event)" (drop)="dropSquare(square)">
                <ng-container *ngIf="getPawnOnSquare(square.square) as pawn">
                    <div class="text-center w-[72px] h-[72px]" draggable="true" (dragstart)="showSquareDetails(square)">
                        <ng-container *ngIf="getPawnOnSquare(square.square) as pawn">
                            <img [src]="'/' + (pawn.pawnColor === 'white' ? (pawn.pawnName + 'white.png') : (pawn.pawnName + 'black.png'))"
                                alt="{{ pawn.pawnName }}" class="w-full h-full object-contain" />
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-9  mr-[90px]">
        <div class="w-[90px] h-[90px] flex ">
            <p></p>
        </div>
        <div *ngFor="let square of chessBoard.slice(0, 8)" class="w-[90px]  h-[90px] flex  justify-center ">
            <p class="mt-[15px]">{{ square.square.slice(0, 1) }}</p>
        </div>
    </div>
    <div *ngIf="!isGameActive" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg text-center space-y-4">
            <h2 class="text-2xl font-bold text-gray-800">Game Finished</h2>
            <button (click)="resetGame()"
                class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-700">
                Play again
            </button>
        </div>
    </div>



</div>